body {
  width: 300px;
}

.audio_area #playhead {
  width: 2px !important;
  height: 2px !important;
  background-color: #0CBB08 !important;
}

.audio_area {
  width: 100% ;
  display: inline-block ;
  vertical-align: top;
  margin: 17px 1px 16px 0 ;
  font-size: 0;
  position: relative;
  font-weight: 400;
  text-decoration: none;
  -webkit-text-size-adjust: none;
}

div.audio_wrp {
  border: 1px solid #ebebeb !important;
  background-color: #fcfcfc !important;
  overflow: hidden !important;
  padding: 12px 20px 12px 12px !important;
}

.audio_play_area {
  float: left;
  margin: 9px 22px 10px 5px;
  font-size: 0;
  width: 18px;
  height: 25px;
}

.audio_area .pic_audio_default {
  display: none;
  width: 18px;
}

.audio_area .audio_length {
  float: right;
  font-size: 14px;
  margin-top: 3px;
  margin-left: 1em;
}

.audio_info_area {
  overflow: hidden;
}

.audio_area .audio_title {
  font-weight: 400  !important;
  font-size: 17px  !important;
  margin-top: -2px  !important;
  width: auto !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
}

.audio_area .audio_source {
  font-size: 14px  !important;
}

.tips_global {
  color: #8c8c8c  !important;
}

.audio_area .progress_bar {
  position: absolute  !important;
  left: 0  !important;
  bottom: 0  !important;
  background-color: #eee  !important;
  height: 2px  !important;
  width: 100%  !important;
}

.audio_play_area .icon_audio_default {
  background: transparent url(./icon_audio_unread26f1f1.png) no-repeat 0 0 ;
  width: 18px;
  height: 25px;
  vertical-align: middle;
  display: inline-block;
  -webkit-background-size: 18px auto;
  background-size: 18px auto;
}

.audio_play_area .icon_audio_playing {
  background: transparent url(./icon_audio_reading_126f1f1.png) no-repeat 0 0;
  width: 18px;
  height: 25px;
  vertical-align: middle;
  -webkit-background-size: 18px auto;
  background-size: 18px auto;
  -webkit-animation: audio_playing 1s infinite;
  display: none;
}

@-webkit-keyframes audio_playing {
  30% {
    background-image: url(./icon_audio_reading_126f1f1.png)
  }
  31% {
    background-image: url(./icon_audio_reading_226f1f1.png)
  }
  61% {
    background-image: url(./icon_audio_reading_226f1f1.png)
  }
  62% {
    background-image: url(./icon_audio_reading_326f1f1.png)
  }
  100% {
    background-image: url(./icon_audio_reading_326f1f1.png)
  }
}
